body {
    background: #d3cece;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-family: 'Kaushan Script', cursive; 
}

form {
    border: 3px solid #fff;
    padding: 25px; 
    background: #ffffff;
    text-transform: uppercase;
    font-size: 1.3em;
    max-width: 570px;
    margin: 0 auto;
}

